body {
    margin: 0;
    padding: 0;
    background: url('background-image.jpg') no-repeat center center fixed;
    background-size: contain;
    background-attachment: scroll; /* 背景图片随页面滚动 */
    height: 812px; /* 固定高度为812像素 */
    width: 375px; /* 固定宽度为375像素 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* 使内容居底部 */
    overflow: hidden; /* 隐藏溢出部分 */
}

.content {
    position: absolute;
    top: 330px; /* 距离背景图片上方330像素 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平居中 */
    text-align: center;
    color: white;
}

#randomNumber {
    font-size: 64px;
    line-height: 64px; /* 行高设置为数字大小 */
    color: #403d32;
    font-family: 'PingFang SC', sans-serif; /* 使用苹方字体，确保字体在用户设备上存在 */
    margin: 0; /* 移除默认的段落 margin */
}

button {
    position: fixed; /* 固定按钮位置 */
    top: 120px; /* 固定距离背景图片上方480像素 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平居中 */
    padding: 10px 0; /* 调整按钮垂直内边距 */
    width: 210px; /* 调整按钮宽度 */
    height: 42px;
    font-size: 18px; /* 调整按钮文字大小 */
    cursor: pointer;
    background-color: #403d32; /* 修改按钮颜色 */
    color: white; /* 修改文字颜色 */
    font-family: 'PingFang SC', sans-serif; /* 使用苹方字体，确保字体在用户设备上存在 */
    border: none;
    border-radius: 21px; /* 圆角为21像素 */
}

button:hover {
    background-color: #403d32; /* 按下时保持相同的颜色 */
}

/* button:active { */
    /* transform: translateY(1px); /* 添加点击时的微小位移效果 */ */
/* } */
